@import url("https://fonts.googleapis.com/css2?family=Prata&display=swap");
@import "_mixins.scss";
$font-name: "Poppins", sans-serif;
$max: 12;
$gutterWidth: 30px;

* {
  box-sizing: border-box;
}
.container {
  width: 100%;
}
.row {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
figure {
  position: relative;
  margin: 0px;
}
.side-name {
  position: absolute;
  transform: rotate(-90deg);
  transform-origin: left;
  bottom: 10px;
  background-color: rgb(255, 255, 255);
  padding: 1em;
  font-family: $font-name;
  font-size: 0.75rem;
  letter-spacing: 0.2em;
  transition-property: opacity, bottom;
  transition-duration: 0.6s;
  transition-timing-function: cubic-bezier(0.77, 0, 0.175, 1);
}
figure img {
  width: 100%;
}
.team-detail {
  position: relative;
}
figure::after {
  content: "";
  position: absolute;
  background: linear-gradient(225deg, #f42958, #e3432a);
  opacity: 0;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 1;
  height: 100%;
  width: 100%;
  transition-duration: 0.9s;
}
.team-detail:hover > figure::after {
  opacity: 0.9;
}
.team-content {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  opacity: 0;
  display: flex;
  flex-flow: column;
  padding: 1.66667em;
  visibility: hidden;
  z-index: 0;
  transition-property: opacity;
  transition-duration: 0.6s;
  transition-timing-function: cubic-bezier(0.77, 0, 0.175, 1);
}
.icons {
  display: flex;
  flex: 1;
  padding: 0;
  margin: 0;
}
.icons > li {
  display: block;
  list-style-type: none;
}
.fa.fa-facebook,
.fa.fa-twitter,
.fa.fa-instagram {
  font-size: 20px;
  margin-right: 10px;
  color: white;
}

.team-name {
  margin: 0;
  font-family: $font-name;
  font-size: 1.25rem;
  font-weight: 500;
  color: white;
}
.team-title {
  margin: 0;
  font-family: $font-name;
  letter-spacing: -0.05em;
  color: white;
  font-size: 0.8125rem;
  font-weight: 400;
}

.team-detail:hover > .team-content {
  opacity: 1;
  visibility: visible;
  z-index: 1;
}

.team-detail:hover .side-name {
  opacity: 0;
  bottom: 30px;
}

@for $i from 1 through $max {
  .col-sm-#{$i} {
    @include breakpoint(sm) {
      $width: 100%/12;
      padding: 0 #{$gutterWidth / 2};
      flex-basis: $width * $i;
      max-width: $width * $i;
    }
  }
}

@for $i from 1 through $max {
  .col-md-#{$i} {
    @include breakpoint(md) {
      $width: 100%/12;
      padding: 0 #{$gutterWidth / 2};
      flex-basis: $width * $i;
      max-width: $width * $i;
    }
  }
}

@for $i from 1 through $max {
  .col-lg-#{$i} {
    @include breakpoint(lg) {
      $width: 100%/12;
      flex-basis: $width * $i;
      max-width: $width * $i;
      padding: 0 #{$gutterWidth / 2};
    }
  }
}
