@import url("https://fonts.googleapis.com/css2?family=Prata&display=swap");
* {
  box-sizing: border-box; }

.container {
  width: 100%; }

.row {
  width: 100%;
  display: flex;
  flex-wrap: wrap; }

figure {
  position: relative;
  margin: 0px; }

.side-name {
  position: absolute;
  transform: rotate(-90deg);
  transform-origin: left;
  bottom: 10px;
  background-color: white;
  padding: 1em;
  font-family: "Poppins", sans-serif;
  font-size: 0.75rem;
  letter-spacing: 0.2em;
  transition-property: opacity, bottom;
  transition-duration: 0.6s;
  transition-timing-function: cubic-bezier(0.77, 0, 0.175, 1); }

figure img {
  width: 100%; }

.team-detail {
  position: relative; }

figure::after {
  content: "";
  position: absolute;
  background: linear-gradient(225deg, #f42958, #e3432a);
  opacity: 0;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 1;
  height: 100%;
  width: 100%;
  transition-duration: 0.9s; }

.team-detail:hover > figure::after {
  opacity: 0.9; }

.team-content {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  opacity: 0;
  display: flex;
  flex-flow: column;
  padding: 1.66667em;
  visibility: hidden;
  z-index: 0;
  transition-property: opacity;
  transition-duration: 0.6s;
  transition-timing-function: cubic-bezier(0.77, 0, 0.175, 1); }

.icons {
  display: flex;
  flex: 1;
  padding: 0;
  margin: 0; }

.icons > li {
  display: block;
  list-style-type: none; }

.fa.fa-facebook,
.fa.fa-twitter,
.fa.fa-instagram {
  font-size: 20px;
  margin-right: 10px;
  color: white; }

.team-name {
  margin: 0;
  font-family: "Poppins", sans-serif;
  font-size: 1.25rem;
  font-weight: 500;
  color: white; }

.team-title {
  margin: 0;
  font-family: "Poppins", sans-serif;
  letter-spacing: -0.05em;
  color: white;
  font-size: 0.8125rem;
  font-weight: 400; }

.team-detail:hover > .team-content {
  opacity: 1;
  visibility: visible;
  z-index: 1; }

.team-detail:hover .side-name {
  opacity: 0;
  bottom: 30px; }

@media (min-width: 0) {
  .col-sm-1 {
    padding: 0 15px;
    flex-basis: 8.33333%;
    max-width: 8.33333%; } }

@media (min-width: 0) {
  .col-sm-2 {
    padding: 0 15px;
    flex-basis: 16.66667%;
    max-width: 16.66667%; } }

@media (min-width: 0) {
  .col-sm-3 {
    padding: 0 15px;
    flex-basis: 25%;
    max-width: 25%; } }

@media (min-width: 0) {
  .col-sm-4 {
    padding: 0 15px;
    flex-basis: 33.33333%;
    max-width: 33.33333%; } }

@media (min-width: 0) {
  .col-sm-5 {
    padding: 0 15px;
    flex-basis: 41.66667%;
    max-width: 41.66667%; } }

@media (min-width: 0) {
  .col-sm-6 {
    padding: 0 15px;
    flex-basis: 50%;
    max-width: 50%; } }

@media (min-width: 0) {
  .col-sm-7 {
    padding: 0 15px;
    flex-basis: 58.33333%;
    max-width: 58.33333%; } }

@media (min-width: 0) {
  .col-sm-8 {
    padding: 0 15px;
    flex-basis: 66.66667%;
    max-width: 66.66667%; } }

@media (min-width: 0) {
  .col-sm-9 {
    padding: 0 15px;
    flex-basis: 75%;
    max-width: 75%; } }

@media (min-width: 0) {
  .col-sm-10 {
    padding: 0 15px;
    flex-basis: 83.33333%;
    max-width: 83.33333%; } }

@media (min-width: 0) {
  .col-sm-11 {
    padding: 0 15px;
    flex-basis: 91.66667%;
    max-width: 91.66667%; } }

@media (min-width: 0) {
  .col-sm-12 {
    padding: 0 15px;
    flex-basis: 100%;
    max-width: 100%; } }

@media (min-width: 768px) {
  .col-md-1 {
    padding: 0 15px;
    flex-basis: 8.33333%;
    max-width: 8.33333%; } }

@media (min-width: 768px) {
  .col-md-2 {
    padding: 0 15px;
    flex-basis: 16.66667%;
    max-width: 16.66667%; } }

@media (min-width: 768px) {
  .col-md-3 {
    padding: 0 15px;
    flex-basis: 25%;
    max-width: 25%; } }

@media (min-width: 768px) {
  .col-md-4 {
    padding: 0 15px;
    flex-basis: 33.33333%;
    max-width: 33.33333%; } }

@media (min-width: 768px) {
  .col-md-5 {
    padding: 0 15px;
    flex-basis: 41.66667%;
    max-width: 41.66667%; } }

@media (min-width: 768px) {
  .col-md-6 {
    padding: 0 15px;
    flex-basis: 50%;
    max-width: 50%; } }

@media (min-width: 768px) {
  .col-md-7 {
    padding: 0 15px;
    flex-basis: 58.33333%;
    max-width: 58.33333%; } }

@media (min-width: 768px) {
  .col-md-8 {
    padding: 0 15px;
    flex-basis: 66.66667%;
    max-width: 66.66667%; } }

@media (min-width: 768px) {
  .col-md-9 {
    padding: 0 15px;
    flex-basis: 75%;
    max-width: 75%; } }

@media (min-width: 768px) {
  .col-md-10 {
    padding: 0 15px;
    flex-basis: 83.33333%;
    max-width: 83.33333%; } }

@media (min-width: 768px) {
  .col-md-11 {
    padding: 0 15px;
    flex-basis: 91.66667%;
    max-width: 91.66667%; } }

@media (min-width: 768px) {
  .col-md-12 {
    padding: 0 15px;
    flex-basis: 100%;
    max-width: 100%; } }

@media (min-width: 1024px) {
  .col-lg-1 {
    flex-basis: 8.33333%;
    max-width: 8.33333%;
    padding: 0 15px; } }

@media (min-width: 1024px) {
  .col-lg-2 {
    flex-basis: 16.66667%;
    max-width: 16.66667%;
    padding: 0 15px; } }

@media (min-width: 1024px) {
  .col-lg-3 {
    flex-basis: 25%;
    max-width: 25%;
    padding: 0 15px; } }

@media (min-width: 1024px) {
  .col-lg-4 {
    flex-basis: 33.33333%;
    max-width: 33.33333%;
    padding: 0 15px; } }

@media (min-width: 1024px) {
  .col-lg-5 {
    flex-basis: 41.66667%;
    max-width: 41.66667%;
    padding: 0 15px; } }

@media (min-width: 1024px) {
  .col-lg-6 {
    flex-basis: 50%;
    max-width: 50%;
    padding: 0 15px; } }

@media (min-width: 1024px) {
  .col-lg-7 {
    flex-basis: 58.33333%;
    max-width: 58.33333%;
    padding: 0 15px; } }

@media (min-width: 1024px) {
  .col-lg-8 {
    flex-basis: 66.66667%;
    max-width: 66.66667%;
    padding: 0 15px; } }

@media (min-width: 1024px) {
  .col-lg-9 {
    flex-basis: 75%;
    max-width: 75%;
    padding: 0 15px; } }

@media (min-width: 1024px) {
  .col-lg-10 {
    flex-basis: 83.33333%;
    max-width: 83.33333%;
    padding: 0 15px; } }

@media (min-width: 1024px) {
  .col-lg-11 {
    flex-basis: 91.66667%;
    max-width: 91.66667%;
    padding: 0 15px; } }

@media (min-width: 1024px) {
  .col-lg-12 {
    flex-basis: 100%;
    max-width: 100%;
    padding: 0 15px; } }
